<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.prjdb.notice.map.EventMapper">
<select id="eventSelectList" resultType="co.yedam.prjdb.notice.service.EventVO">
	SELECT * FROM EVENTS
</select>

<select id="select" resultType="co.yedam.prjdb.notice.service.EventVO">

</select>

<insert id="eventInsert" parameterType="co.yedam.prjdb.notice.service.EventVO">
	INSERT INTO EVENTS(TITLE, START_DATE, END_DATE)
	VALUES(#{title}, #{startDate}, #{endDate})
</insert>
</mapper>