<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yedam.prjdb.book.service.BookMapper">
<select id="bookSelectList" resultType="co.yedam.prjdb.book.service.BookVO">
SELECT * FROM BOOK
</select>

<insert id="bookInsert" parameterType="co.yedam.prjdb.book.service.BookVO">
INSERT INTO BOOK(book_code, book_name, book_writer, book_pub, book_price)
VALUES (#{bookCode}, #{bookName}, #{bookWriter}, #{bookPub}, #{bookPrice})
</insert>

<update id="bookUpdate" parameterType="co.yedam.prjdb.book.service.BookVO">
</update>

<delete id="bookDelete" parameterType="co.yedam.prjdb.book.service.BookVO">
</delete>
</mapper>